{% extends 'base.html.twig' %}

{% block title %}Hello LogementController!{% endblock %}

{% block body %}
<div class="container mt-5">
<div class="jumbotron">
    <h3 class="display-3">Bienvenue sur KayDeuk</h3>
    <p class="lead">Nous sommes une entreprise de construction et distrubution des appartements meuble a des prix imbatable</p>
    <hr class="my-4">
    <p>Nous vous garantissons le meilleur de qualité à matiere de logement</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">plus de detail</a>
    </p>
</div>
<h2 class="mt-5">les dernieres annonces</h2>
<hr>
<div class="row">
    {% for i in 0..10 %}
        
    <div class="col-md-4">
        <div class="card mb-3">
            <h3 class="card-header">2 Chambre 30000 F/mois</h3>
            <div class="card-body">
               
            </div>
<img src="uploads/coverImage/007e07c5117cec23e594293210f82c9d.jpg" class="d-block user-select-none" width="100%" height="200"

                aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice"
                viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle" />
               
            <div class="card-body">
                <h3 class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</h3>
            </div>

            <div class="card-body">

                <a href="#" class="card-link btn btn-primary">Another link</a>
            </div>
            <div class="card-footer text-muted text-centre">
                il y'a deux jours
                <i class="fas fa-map-marker"></i>
                <strong>Mariste</strong>
                 
            </div>
        </div>
        
    </div>
{% endfor %}
</div>

{% endblock %}
